@font-face {
  font-family: 'DiodrumArabic';
  src: url('DiodrumArabic-Light.eot?#iefix') format('embedded-opentype'),
  url('DiodrumArabic-Light.woff') format('woff'),
  url('DiodrumArabic-Light.ttf') format('truetype'),
  url('DiodrumArabic-Light.svg#DiodrumArabic-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
