@font-face {
  font-family: 'GraphikArabic';
  src: url('GraphikArabic-Super.eot?#iefix') format('embedded-opentype'),
  url('GraphikArabic-Super.otf') format('opentype'),
  url('GraphikArabic-Super.woff') format('woff'),
  url('GraphikArabic-Super.ttf') format('truetype'),
  url('GraphikArabic-Super.svg#GraphikArabic-Super') format('svg');
  font-weight: 900;
  font-style: normal;
}
