@font-face {
  font-family: 'DiodrumArabic';
  src: url('DiodrumArabic-Regular.eot?#iefix') format('embedded-opentype'),
  url('DiodrumArabic-Regular.woff') format('woff'),
  url('DiodrumArabic-Regular.ttf') format('truetype'),
  url('DiodrumArabic-Regular.svg#DiodrumArabic-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
