@font-face {
  font-family: 'GraphikArabic';
  src: url('GraphikArabic-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('GraphikArabic-SemiBold.otf') format('opentype'),
  url('GraphikArabic-SemiBold.woff') format('woff'),
  url('GraphikArabic-SemiBold.ttf') format('truetype'),
  url('GraphikArabic-SemiBold.svg#GraphikArabic-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
