@font-face {
  font-family: 'DiodrumArabic';
  src: url('DiodrumArabic-Semibold.eot?#iefix') format('embedded-opentype'),
  url('DiodrumArabic-Semibold.woff') format('woff'),
  url('DiodrumArabic-Semibold.ttf') format('truetype'),
  url('DiodrumArabic-Semibold.svg#DiodrumArabic-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
