// Body
//$body-bg: #EAEFF3;
$body-bg: #fafafa;

// Typography
$font-family-sans-serif: 'GraphikArabic', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #121212;
//$secondary: #322965;
$secondary: #00C569;
$secondary: #0069ff;
$secondary: #15cd72;
$headings-color: $primary;

//$primary: #9795E3;
//$secondary: #CA97EB;
//$success: #7EDB8F;
//$info: $cyan !default;
//$warning: $yellow !default;
//$danger: #F96D74;
//$light: #EAEFF3;
//$dark: #2A2A44;

// Card
$card-border-color: #dbdbdb;
$border-color: #dbdbdb;
