// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fonts
@import 'fonts';

.edit-avatar {
  label {
    cursor: pointer;

    strong {
      background-color: #000;
      border-radius: 100%;
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .3s ease;
    }

    &:hover {
      strong {
        opacity: .7;
      }
    }
  }

}

.list-group {
  .nav-link {
    border-right: 2px solid transparent;

    &.active {
      border-color: $primary;
    }
  }
}

#profile-links {
  a[data-toggle="collapse"][aria-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .card .card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  //.sortable-ghost
  .sortable-chosen a.btn {
    @extend .btn-secondary;
  }
}

.profile-footer {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  padding-bottom: 15px;
}