// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Fonts
@import 'fonts';


// helpers
.cursor-pointer {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.mh-100vh {
  min-height: 100vh;
}

.btn-twitter {
  @extend .btn-primary;
  background-color: $twitter;
  border-color: $twitter;
}

.btn-instagram {
  @extend .btn-primary;
  background-color: $instagram;
  border-color: $instagram;
}

.edit-avatar {
  label {
    cursor: pointer;

    strong {
      background-color: #000;
      border-radius: 100%;
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .3s ease;
    }

    &:hover {
      strong {
        opacity: .7;
      }
    }
  }

}

.list-group {
  .nav-link {
    border-right: 2px solid transparent;

    &.active {
      border-color: $primary;
    }
  }
}

#profile-links {
  a[data-toggle="collapse"][aria-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .card .card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  //.sortable-ghost
  .sortable-chosen a.btn {
    @extend .btn-secondary;
  }
}

.profile-footer {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  padding-bottom: 15px;
}


.btn-black {
  @extend .btn-dark;
  background-color: #101B3A;
}

.theme {
  &-selected {
    .theme-content {
      opacity: .6;
    }
  }

  &-checked {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    z-index: 2;
  }

  &--dark, &--blue {
    color: #fff;

    .card-title {
      color: #fff;
    }

    .text-muted {
      color: rgba(#fff, .45) !important;
    }

    .btn {
      border: transparent;
    }
  }

  &--blue {
    background-image: linear-gradient(134deg, #005EFF 0%, #00A8FF 100%);

    .btn {
      background-color: rgba(#000, .25);

      &:hover {
        background-color: rgba(#000, .35);
      }
    }
  }

  &--dark {
    background-image: linear-gradient(134deg, #000B1E 0%, #011154 100%);

    .btn {
      background-color: rgba(#fff, .12);

      &:hover {
        background-color: rgba(#fff, .25);
      }
    }
  }

  &--sweet-pink {
    @extend .theme--blue;

    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  }
}

.page-content {
  line-height: 2.2em;

  h1 {
    font-weight: 600;
    margin-bottom: 30px;
  }

  h3 {
    margin-bottom: 20px;
  }

  blockquote {
    border-right: 5px solid #cecece;
    border-left: 0;
    padding-right: 20px;
  }
}