@font-face {
  font-family: 'DiodrumArabic';
  src: url('DiodrumArabic-Bold.eot?#iefix') format('embedded-opentype'),
  url('DiodrumArabic-Bold.woff') format('woff'),
  url('DiodrumArabic-Bold.ttf') format('truetype'),
  url('DiodrumArabic-Bold.svg#DiodrumArabic-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
