@font-face {
  font-family: 'GraphikArabic';
  src: url('GraphikArabic-Medium.eot?#iefix') format('embedded-opentype'),
  url('GraphikArabic-Medium.otf') format('opentype'),
  url('GraphikArabic-Medium.woff') format('woff'),
  url('GraphikArabic-Medium.ttf') format('truetype'),
  url('GraphikArabic-Medium.svg#GraphikArabic-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
