@font-face {
  font-family: 'GraphikArabic';
  src: url('GraphikArabic-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('GraphikArabic-ExtraLight.otf') format('opentype'),
  url('GraphikArabic-ExtraLight.woff') format('woff'),
  url('GraphikArabic-ExtraLight.ttf') format('truetype'),
  url('GraphikArabic-ExtraLight.svg#GraphikArabic-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
