@font-face {
  font-family: 'GraphikArabic';
  src: url('GraphikArabic-Regular.eot?#iefix') format('embedded-opentype'),
  url('GraphikArabic-Regular.otf') format('opentype'),
  url('GraphikArabic-Regular.woff') format('woff'),
  url('GraphikArabic-Regular.ttf') format('truetype'),
  url('GraphikArabic-Regular.svg#GraphikArabic-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
