@font-face {
  font-family: 'DiodrumArabic';
  src: url('DiodrumArabic-Extralight.eot?#iefix') format('embedded-opentype'),
  url('DiodrumArabic-Extralight.woff') format('woff'),
  url('DiodrumArabic-Extralight.ttf') format('truetype'),
  url('DiodrumArabic-Extralight.svg#DiodrumArabic-Extralight') format('svg');
  font-weight: 200;
  font-style: normal;
}
