@font-face {
  font-family: 'GraphikArabic';
  src: url('GraphikArabic-Bold.eot?#iefix') format('embedded-opentype'),
  url('GraphikArabic-Bold.otf') format('opentype'),
  url('GraphikArabic-Bold.woff') format('woff'),
  url('GraphikArabic-Bold.ttf') format('truetype'),
  url('GraphikArabic-Bold.svg#GraphikArabic-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
